ADMIN_ADDRESS=0xYourAdmin
TREASURY_ADDRESS=0xYourTreasury
INITIAL_SUPPLY=100000000000000000000000000
STAKING_TOKEN=0xStakingToken
REWARDS_TOKEN=0xRewardsToken
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
PRIVATE_KEY=0xYourPrivateKey
ETHERSCAN_API_KEY=YOUR_KEY